/* .title3{
    background-color: #0311d1;
    color: aqua;
  text-align: left;
width: 300px;
height: 300px;
float: left;



} */
li {
  float: left;
  background-color: #bdbbba26;
  text-decoration: none;
  padding: 20px;
  list-style-type: none;
  font-size: 20px;
}
li:hover{
background-color: aqua;
color: rgb(255, 200, 0);
}
li a{
font-size: 30px;
text-decoration: none;
color: rgb(255, 0, 221)
}

.model{
  background-color: darkmagenta;
  width: 100%;
  height: 700px; ;
  border-radius: 20px;
}
      .model-1 {
       background-color: aquamarine;
  width: 20%;
  height: 600px; ;
  margin: 40px;
  float: left;
      border-radius: 20px;
}
       .model-2{
        background-color: aquamarine;
  width: 20%;
  height: 600px; ;
  margin: 40px;
  float: left;       
  border-radius: 20px;
}
       .model-3{
        background-color: aquamarine;
  width: 20%;
  height: 600px; ;
  margin: 40px;
  float: left;
  border-radius: 20px;
}
       .model-4{
        background-color: aquamarine;
  width: 20%;
  height: 600px; ;
  margin: 40px;
  float: left;
  border-radius: 20px;
}
       .content-model-h2{
text-align: center;
       }
  .content-model-h2{text-align: center;
               }
   .content-model-h2{
    text-align: center;
                 }

.content-model-h2{
   text-align: center;
   }

   .contact-h2{
       text-align: center;
   }

.form-contact{
margin-left: 40%;
padding-left: 40%;
}
 input{
padding: 10px;
margin: 10px;

}
form{
padding-left: 40%;
padding-top: 20px;
background-color: blue;
border-radius: 20px;
}
.slider-fon{
  background-image: url(Без\ названия\ \(1\).jpg);
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  background-size: 1%;
  }
  .slider-fon{
      background-image: url(3.jpg);
      background-attachment: fixed;
      width: 100%;
      height: 1000px;
      background-size: 100%
  }
  
  footer{
background-color: darkorchid;
    width: 100%;
height: 200px;
border-radius: 20px
} 
/* @keyframes example{
from{background-color: aqua;  }
to{background-color: blue; }
}

@keyframes example2{
  from{background-color: aqua;  }
  to{background-color: blue; }
  } */

.menu{
  background-color: blueviolet;
  animation-name: example;
  animation-duration: 1s;
float: left;
width: 75%;
 height: 200px;
animation-delay: 2s;
animation-iteration-count: 100;
animation-iteration-count: infinite;
animation-direction: reverse;
animation-direction: linear;
animation-direction: ease-in;
animation-direction: ease-out;
animation-direction: ease-in-out;
animation-direction: cubic-bezier(n,n,n,n,);

} 
@keyframes example{
0%{background-color: crimson;}
25%{background-color: gold;}
50%{background-color: dodgerblue;}
75%{background-color: navy;}
100%{background-color: fuchsia;}
}
@keyframes example2{
  0%{background-color: crimson;}
  25%{background-color: gold;}
  50%{background-color: dodgerblue;}
  75%{background-color: navy;}
  100%{background-color: fuchsia;}
  }
  
    